* {
		-webkit-tap-highlight-color: transparent;
}

body {
	 margin: 0;
	 padding: 0;
	 width: 100%;
	 height: 100%;
	 font-family: 'Balsamiq Sans', cursive;
  }

header {
  margin: 0;
  padding: 0;
	 text-align: center;
}

h1 {
	 margin: 0;
	 padding-left: 10px;
		padding-right: 10px;
}

h1.h1 {
		background: #6cc2d9;
		color: #2f373c;
	  padding-top: 10px;
}

img.h1 {
  	width: 100%;
  	margin: 0;
}

p.h1 {
		background: #6cc2d9;
		margin-top: -8px;
		color: #FFFFFF;
}

p {
		margin-bottom: 0;
}

h1, h2, p {
  text-align: center;
  font-size: 7vw;
}

a {
	 font-size: 5vw;
}

h2 {
   font-size: 6vw;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
}

p {
	 font-size: 4vw;
	 font-weight: bold;
	 padding: 10px 10px;
}

div.div0 {
		background: #6cc2d9;
}

div.div1 {
		background: #FF5713;
}

h2.div1 {
   color: #FFFFFF;
}

p.div1 {
		color: #212121;
}

div.div2 {
   background: #212121;
}

h2.div2 {
   color: #FF5713;
}

p.div2 {
		color: #FFFFFF;
}

div.div3 {
		background: #FFFFFF;
}

h2.div3 {
   color: #212121;
}

p.div3 {
		color: #FF5713;
}

div.div4 {
   background: #FF5713;
}

h2.div4 {
   color: #FFFFFF;
}

p.div4 {
		color: #212121;
}

div.div5 {
   background: #212121;
}

h2.div5 {
   color: #FF5713;
}

p.div5 {
		color: #FFFFFF;
}

div.div6 {
		background: #FFFFFF;
}

h2.div6 {
   color: #212121;
}

p.div6 {
		color: #FF5713;
}

div.div7 {
   background: #FF5713;
}

h2.div7 {
   color: #FFFFFF;
}

p.div7 {
		color: #212121;
}

div.div8 {
   background: #212121;
}

h2.div8 {
   color: #FF5713;
}

p.div8 {
		color: #FFFFFF;
}

div.div9 {
		background: #FFFFFF;
		margin-bottom: 16px;
}

h2.div9 {
   color: #212121;
}

p.div9 {
		color: #FF5713;
}

div.div1, div.div2, div.div3, div.div4, div.div5, div.div6, div.div7, div.div8, div.div9 {
   width: 100%;
   height: 110%;
   border-top-left-radius: 16px;
		border-top-right-radius: 16px;
}

.stat {
		background: #FFFFFF;
		color: #2f373c;
		padding-top: 10px;
}

.stat1 {
		color: #212121;
}

.ps {
		color: #FF5713;
		padding: 0;
		margin: 0, 10px, 0, 0;
}

h1.info {
		color: #2f373c;
		padding-top: 10px;
}

h3.info {
		text-align: center;
		color: #FF5713;
}

.burger-nav {
  display: block;
  height: 12vw;
  width: 100%;
  background-color: #212121;
  padding: 0;
  margin: 0;
}

header .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

#nav {
  overflow: hidden;
  background: #424242;
  height: 0;
  max-height: 0px; 
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#nav.open {
  height: auto;
  max-height: 500px; 
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#nav li {
  float: none;
  text-align: left;
  text-decoration: none;
  width: 100%; 
  margin: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#nav li a {
  text-decoration: none;
  color: white;
  padding: 2vw;
  border-bottom: 1px solid white;
  display: block;
  margin: 0;
  -webkit-transition: linear 1s;
  transition: linear 1s;
}

#contain {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0px;
}

.bar1, .bar2, .bar3 {
    width: 10vw;
    height: 1.4vw;
    background-color: white;
    margin: 1.8vw 0;
    transition: 0.2s;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-2.2vw, 2.2vw);
    transform: rotate(-45deg) translate(-2.2vw, 2.2vw);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-2.2vw, -2.2vw);
    transform: rotate(45deg) translate(-2.2vw, -2.2vw);
    
}

.hover .bar1 {
  background-color: red;
}

.hover .bar2 {
  background-color: red;
}

.hover .bar3 {
  background-color: red;
}
